<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ejercicio Vehiculos</title>
    
    <!-- bootstrap--> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="../models/car.js"></script>
    <script src="../models/wheel.js"></script>
    <script src="../controllers/controller.js"></script>

</head>
<body>
    <!--
        <p id="carInfo"></p>
        <button onclick="createCar('1212SDS','SEAT','ROJO')">Create car</button>

    -->
    <div class="container">
        <h1 class="display-1 text-center">Ejercicio Vehículos</h1>
        <!-- Add vehicle info -->
        <form >   
            <div class="form-group">   
                <div class="row">
                    <div class="col">
                        <label for="plate">Plate</label>          
                        <input id="plate" class="form-control" type="text" />
                    </div>
                    <div class="col">
                        <label for="brand">Brand</label>
                        <input id="brand" class="form-control" type="text" />
                    </div>  
                    <div class="col">
                        <label for="color">Color</label>
                        <input id="color" class="form-control" type="text" />
                    </div>
                </div>
                <button onclick="createCar2(plate,color,brand)" class="mt-3 btn btn-primary input-lg" type="button" >Create Car</button>
                
            </div>
        </form>
        <div id='response' class='d-none'>
            <form id="wheels" >   
                <div class="form-group">   
                    <div class="row">
                        <div class="col">
                            <label for="wheel1">Marca Rueda 1</label>          
                            <input id="wheel1" class="form-control" type="text" />
                        </div>
                        <div class="col">
                                <label for="diameterWheel1">Diámetro Rueda 1</label>          
                                <input id="diameterWheel1" class="form-control" type="text" />
                        </div>                   
                        <div class="col">
                                <label for="wheel2">Marca Rueda 2</label>          
                                <input id="wheel2" class="form-control" type="text" />
                        </div>
                        <div class="col">
                                <label for="diameterWheel2">Diámetro Rueda 2</label>          
                                <input id="diameterWheel2" class="form-control" type="text" />
                        </div>                        
                    </div>
                    <div class="row">
                            <div class="col">
                                <label for="wheel3">Marca Rueda 3</label>          
                                <input id="wheel3" class="form-control" type="text" />
                            </div>
                            <div class="col">
                                    <label for="diameterWheel3">Diámetro Rueda 3</label>          
                                    <input id="diameterWheel3" class="form-control" type="text" />
                            </div>                   
                            <div class="col">
                                    <label for="wheel4">Marca Rueda 4</label>          
                                    <input id="wheel4" class="form-control" type="text" />
                            </div>
                            <div class="col">
                                    <label for="diameterWheel4">Diámetro Rueda 4</label>          
                                    <input id="diameterWheel4" class="form-control" type="text" />
                            </div>                        
                        </div>
                    <button onclick="addWheels(wheel1,wheel2,wheel3,wheel4,diameterWheel1,diameterWheel2,diameterWheel3,diameterWheel4)" class="mt-3 btn btn-primary input-lg" type="button" >Add Wheels</button>
                    
                </div>
            </form>
            <p>Car:</p>
            <div id='responseContent' class="row">
                <p class="col-3" id="showPlate">Plate: </p>
                <p class="col-3" id="showBrand">Brand: </p>
                <p class="col-3" id="showColor">Color: </p>
            </div>
            <div id='responseWheelsContent' class="row"></div>
         
        
        </div>
        
        <p class="showCar">

        </p>
        <!-- /Add vehicle info -->
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
</html>


